#.project
#.cproject
.settings/
.classpath
target/
/build/
.DS_Store
.idea/workspace.xml
*~
*.swp
.idea
*.iml
*.pyc
*.o
*.os
*.gcno
*.gcda
*.tar.gz
.agignore
.lvimrc
/tmp/
*.log
variables.py
.pmd
.pydevproject

path.sh
scons.log?
CMakeCache.txt
CPackConfig.cmake
CPackSourceConfig.cmake
doxy.config
sample/build-linux/CMakeFiles
sample/build-linux/src
sample/build-linux/.cproject
sample/build-linux/CTestTestfile.cmake
sample/build-linux/MICROSOFT-10.02-Linux*
sample/build-linux/Makefile
sample/build-linux/_CPack_Packages/
sample/build-linux/cmake_install.cmake
sample/build-linux/doc/
sample/build-linux/install_manifest.txt

bw-outputs/
