#============= https://github.com/github/gitignore/blob/master/C%2B%2B.gitignore

# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.os
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

#============= https://github.com/github/gitignore/blob/master/Python.gitignore

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Distribution / packaging
.Python
env/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg

# PyInstaller
#  Usually these files are written by a python script from a template
#  before PyInstaller builds the exe, so as to inject date/other infos into it.
*.manifest
*.spec

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.tox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
.hypothesis/

# Translations
*.mo
*.pot

# Django stuff:
*.log
local_settings.py

# Flask stuff:
instance/
.webassets-cache

# Scrapy stuff:
.scrapy

# Sphinx documentation
docs/_build/

# PyBuilder
target/

# Jupyter Notebook
.ipynb_checkpoints

# pyenv
.python-version

# celery beat schedule file
celerybeat-schedule

# SageMath parsed files
*.sage.py

# dotenv
.env

# virtualenv
.venv
venv/
ENV/

# Spyder project settings
.spyderproject
.spyproject

# Rope project settings
.ropeproject

# mkdocs documentation
/site

# mypy
.mypy_cache/

#============= https://github.com/github/gitignore/blob/master/Python.gitignore

#.project
#.cproject
.settings/
.classpath
target/
/build/
.DS_Store
.idea/workspace.xml
*~
*.swp
.idea
*.iml
*.pyc

*.gcno
*.gcda
*.tar.gz
.agignore
.lvimrc
/tmp/
*.log
variables.py
.pmd
.pydevproject

.sconsign.dblite

path.sh
scons.log?

#============= https://github.com/github/gitignore/blob/master/CMake.gitignore

CMakeCache.txt
CMakeFiles
CMakeScripts
Testing
Makefile
cmake_install.cmake
install_manifest.txt
compile_commands.json
CTestTestfile.cmake

CPackConfig.cmake
CPackSourceConfig.cmake
doxy.config
sample/build-linux/CMakeFiles
sample/build-linux/src
sample/build-linux/.cproject
sample/build-linux/CTestTestfile.cmake
sample/build-linux/MICROSOFT-10.02-Linux*
sample/build-linux/Makefile
sample/build-linux/_CPack_Packages/
sample/build-linux/cmake_install.cmake
sample/build-linux/doc/
sample/build-linux/graphviz.*

#=============

bw-outputs/
