#certifi==2019.11.28
#cffi==1.14.0
#cfgv==3.2.0
#chardet==3.0.4
#Click==7.0
conan==1.31.0
#windows conan==1.27.1
cpplint==1.5.4
#cryptography==2.8
distro==1.5.0
#docker==4.2.0
#docker-compose==1.25.5
fastcov==1.10
gcovr==4.2
lcov-cobertura==1.10
#meld==3.20.2
numpy==1.19.2
pylint==2.4.4
scons==4.0.1
termcolor==1.1.0
#setools==4.2.2
#simplejson==3.16.0
#six==1.14.0
#urllib3==1.25.8
virtualenv==20.0.23
#virtualenv-clone==0.5.4
virtualenvwrapper==4.8.4
