apparmor==2.10.95
apparmor.click==0.3.13.1
apturl==0.5.2
Brlapi==0.6.4
command-not-found==0.3
conan==1.5.1
defer==1.0.6
distro==1.5.0
ecdsa==0.13
fail2ban==0.9.3
flake8==3.5.0
gramps==4.2.2
guacamole==0.9.2
hacking==1.1.0
indicator-cpufreq==0.2.2
language-selector==0.1
LibAppArmor==2.10.95
louis==2.6.4
nodeenv==0.13.4
onboard==1.2.0
oneconf==0.3.9
padme==1.1.1
paramiko==1.16.0
piston-mini-client==0.7.5
progressbar==2.3
pycodestyle==2.3.1
pycrypto==2.6.1
pycups==1.9.73
pycurl==7.43.0
pyflakes==1.6.0
pygobject==3.20.0
python-apt==1.1.0b1
python-systemd==231
PyYAML==5.4
sessioninstaller==0.0.0
software-center-aptd-plugins==0.0.0
system-image==3.1
system-service==0.3
ufw==0.35
unattended-upgrades==0.1
vboxapi==1.0
virtualenv==15.0.1
xdiagnose==3.8.4.1
xkit==0.0.0
